@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;600&display=swap');

.footer {
    position: fixed;
    bottom: 0;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 2px;
    font-weight: 200;
    font-size: 16 px;
    background-color: #1976d2;
    width: 100%;
    color: white;
    
}