@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;600&display=swap');
.header {
    height: 5rem;
    width: 100%;
    background-color: #1976d2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    position: fixed;
    top: 0;
    z-index: 1;
}
.logo {
    height: 4rem;
    object-fit: contain;
    border-radius: 20px;
    cursor: pointer;
    transition: all ease-in 0.5s;
}
.logo:hover {
    transform: scale(1.1);
}
.heading {
    color: white;
    font-size: 35px;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
    /* margin-top: 10px;    */
}
.heading::first-letter {
    font-size: 68px;
    font-weight: 200;
}
@media(max-width: 780px) {
.header {
    padding-left: 15px;
    justify-content: flex-start;
    gap: 0.5rem;
}
.heading {
    font-size: 32px;
    letter-spacing: 2px;
}
.heading::first-letter {
    font-size: 68px;
    font-weight: 200;
    
}
}